REACT_APP_TWITTER_URL=https://twitter.com/codingcoach_io
REACT_APP_FB_URL=https://www.facebook.com/codingcoachio/
REACT_APP_INSTA_URL=https://www.instagram.com/codingcoach_io/
REACT_APP_EMAIL=test@example.com

REACT_APP_PAYPAL_DONATE_BUTTON_ID=123abc