{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": [
    "prettier/react",
    "prettier"
  ],
  "rules": {
    "react/jsx-filename-extension": "off"
  },
  "plugins": [
    "prettier"
  ]
}