# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# PyCharm/IDEA files.
.idea
*.iml

# Visual Studio Code files.
.vscode/
.sonarlint/
.history/

# Node modules folder.
node_modules/

# Build & dist folders.
build/
dist/
out/
src/styles/css/

# NYC Output files.
.nyc_output/

# Luna's coverage folder.
coverage/

# Private key folder.
keys/

# Environment files.
.env.dev
.env

# Nohup bullshit logs.
nohup.out

# Other files
README.old.md
.DS_Store

src/config/i18n/_build
src/config/i18n/**/messages.js
