{
  "printWidth": 100,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "parser": "babylon",
  "semi": true,
  "arrowParens": "always"
}
