dist: trusty
language: node_js
node_js:
  - "10.10.0"
cache:
  yarn: true
  directories:
    - node_modules
before_install:
  - yarn global add greenkeeper-lockfile@1
install: yarn
# before_script:
#   - greenkeeper-lockfile-update
# script:
#   - yarn lint
#   - yarn test
#   - yarn build
# after_script: greenkeeper-lockfile-upload
jobs:
  include:
    - stage: "lint"
      name: "Check for code smell"
      script: yarn lint
stages:
  - lint
notifications:
  email: true
# after_success:
#   - git config --global user.name "Abhishek Prakash"
#   - git config --global user.email "abhishekabby@gmail.com"
#   - git remote rm origin
#   - git remote add origin https://linux-nerd:${GITHUB_TOKEN}@github.com/linux-nerd/coding-coach.git
#   - yarn run deploy
# deploy:
#   provider: pages
#   skip-cleanup: true
#   github-token: $GITHUB_TOKEN
#   keep-history: true
#   on:
#     branch: feature/automate_deployment
