@import '~theme/base/variables';
@import '~theme/base/spacing';

.button {
  display: inline-block;
  min-height: $button-default;
  line-height: inherit;
  min-width: 96px;
  box-sizing: border-box;
  text-align: center;
  white-space: nowrap;
  outline: none;
  border: none;
  border-radius: 3px;
  transition-property: all;
  transition-duration: 0.25s;
  font-size: $font-xs;
  cursor: pointer;

  &.primary {
    background: $color-primary;
    box-shadow: 0px 7px 10px rgba($color-primary-darker, 0.5);
    color: $color-white;

    &:hover, &:focus {
      box-shadow: 0px 4px 5px rgba($color-primary-darker, 0.6);
    }

    &:active {
      background: $color-primary-darker;
    }
  }


  &.secondary {
    background: transparent;
    box-shadow: 0px 7px 10px rgba($color-primary-darker, 0.5);
    color: $color-primary;
    box-sizing: border-box;
    border: 2px solid $color-primary;

    &:hover, &:focus {
      box-shadow: 0px 4px 5px rgba($color-primary-darker, 0.6);
    }

    &:active {
      background: $color-primary;
      box-shadow: none;
      color: $color-white;
    }
  }

  &.tertiary {
    background: transparent;
    color: $color-primary-darker;
    box-sizing: border-box;

    &:hover, &:focus {
      text-decoration: underline;
    }

  }

  &.danger {
    background: $color-danger;
    box-shadow: 0px 7px 10px rgba($color-danger-darker, 0.5);
    color: $color-white;

    &:hover, &:focus {
      box-shadow: 0px 4px 5px rgba($color-danger-darker, 0.6);
    }

    &:active {
      background: $color-danger-darker;
    }
  }

  &:disabled {
    background: $color-grey-light;
    box-shadow: 0px 0px 20px 3px $color-grey-light;
    color: $color-grey;

    &:hover, &:active {
      transform: none;
      box-shadow: 0px 0px 20px 3px $color-grey-light;
      background: $color-grey-light;
      cursor: not-allowed;
    }
  }

  &:active {
    text-shadow: none;
  }

  // For icons and svgs
  i, svg {
    vertical-align: middle;
    margin-right: 4px;
  }
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.none{
  text-transform: none;
}

.default {
  composes: PHM;
}

.large {
  composes: PHL;
  min-height: $button-large;
  line-height: $button-large;
  font-size: $font-l;
}

.small {
  composes: PHS;
  min-height: $button-small;
  line-height: $button-small;
  font-size: $font-xxs
}

.fullWidth {
  width: 100%;
}