@import '~theme/base/variables';
@import '~theme/base/spacing';


@mixin btn-box-shadow ($color) {
  box-shadow: 0px 7px 10px rgba($color, 0.5);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 5px rgba($color, 0.6);
  }

  &:active {
    box-shadow: none;
  }
}

@mixin btn-borders ($color, $color-darker) {
  border: 3px solid $color;

  &:hover,
  &:focus {
    background-color: $color-darker;
    border-color: $color-darker;
    // border-bottom-color: $color-darker;
  }

  &:active {
    border-color: $color-darker;
  }
}

.button {
  display: inline-block;
  min-height: $button-default;
  line-height: inherit;
  min-width: 96px;
  box-sizing: border-box;
  text-align: center;
  white-space: nowrap;
  outline: none;
  border: none;
  border-radius: 3px;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  font-size: $font-xs;
  cursor: pointer;

  &.square {
    border-radius: 0;
  }

  &.rounded {
    border-radius: $border-radius-rounded;
  }

  &.pill {
    border-radius: $border-radius-pill;
  }

  &.primary {
    background: $color-primary;
    color: $color-white;
    @include btn-box-shadow($color-primary-darker);
    @include btn-borders($color-primary, $color-primary-darker);


    &:active {
      background: $color-primary-darker;
    }
  }


  &.secondary {
    background: transparent;
    color: $color-primary;
    @include btn-box-shadow($color-primary-darker);
    @include btn-borders($color-primary, $color-primary);

    &:active {
      background: $color-primary;
      color: $color-white;
    }
  }

  &.tertiary {
    background: transparent;
    color: $color-primary-darker;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &.danger {
    background: $color-danger;
    color: $color-white;
    @include btn-box-shadow($color-danger-darker);
    @include btn-borders($color-danger, $color-danger-darker);

    &:active {
      background: $color-danger-darker;
    }
  }

  &:disabled {
    cursor: not-allowed;
    background: $color-grey-light;
    color: $color-grey;
    border: none;
    @include btn-box-shadow($color-grey-light);

    &:hover,
    &:active {
      transform: none;
      background: $color-grey-light;
    }
  }

  &:active {
    text-shadow: none;
  }

  i,
  svg {
    vertical-align: middle;
    margin-right: 4px;
  }
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.none{
  text-transform: none;
}

.small {
  composes: PHS;
  min-height: $button-small;
  line-height: $button-small;
  font-size: $font-xxs
}

.medium {
  composes: PHM;
}

.large {
  composes: PHL;
  min-height: $button-large;
  line-height: $button-large;
  font-size: $font-l;
}

.fullWidth {
  width: 100%;
}
