@import '~theme/base/variables';
@import '~theme/base/mediaqueries';

.dummyBody{
  width: 70%;
}

.panelDummyBody {
  border: 1px solid $color-black;
  width: 50%;

  @include respond-to(lgmobile){
    width: auto;
  }
}