@import '~theme/base/variables';
@import '~theme/base/mediaqueries';

.panel {
  background: $color-white;
  width: 100%;
  border-radius: $border-radius-rounded;

  a {
    color: $color-primary;
    text-decoration: none;
    transition: background 0.15s ease-out, color 0.15s ease-out;
    cursor: pointer;

    &:hover {
      background: $color-secondary;
      color: $color-white;
    }
  }
}

.header {
  padding: 24px 24px 10px 24px;
  border-bottom: 1px solid $color-grey-light;
}

.title {
  margin: 0;
  text-transform: uppercase;
  color: $color-primary;
  font-family: $font-secondary;
  font-weight: $font-regular;
  font-size: $font-l;
  letter-spacing: 1px;
}

.content {
  padding: 24px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px;
  border-top: 1px solid $color-grey-light;
}
