@import '~theme/base/variables';
@import '~theme/base/mediaqueries';

.panel {
  width: 100%;
  height: auto;
  background: $color-white;
  border-radius: $border-radius-rounded;
  --header-height: 75px;
  --footer-height: 65px;
  --content-height: calc(100% - (var(--header-height) + var(--footer-height)));

  a {
    color: $color-primary;
    text-decoration: none;
    transition: background 0.15s ease-out, color 0.15s ease-out;
    cursor: pointer;

    &:hover {
      background: $color-secondary;
      color: $color-white;
    }
  }
}

.header {
  padding: 24px 24px 20px 24px;
  border-bottom: 1px solid $color-grey-light;
  min-height: var(--header-height);
}

.title {
  margin: 0;
  text-transform: uppercase;
  color: $color-primary;
  font-family: $font-secondary;
  font-weight: $font-regular;
  font-size: $font-l;
  letter-spacing: 1px;
}

.content {
  padding: 24px;
  height: var(--content-height);
  overflow-y: auto;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px;
  border-top: 1px solid $color-grey-light;
  height: var(--footer-height);
}
