@import '~theme/base/variables';

.header {
  padding: 24px 24px 10px 24px;
  border-bottom: 1px solid $color-grey-light;
}

.heading {
  margin: 0;
  text-transform: uppercase;
  color: $color-primary;
  font-family: $font-secondary;
  font-weight: $font-regular;
  font-size: $font-xl;
  letter-spacing: 1px;
}