@import '~theme/base/variables';
@import '~theme/base/mediaqueries';

%common-styles {
  background: $color-white;
  width: 100%;
  padding: 24px;
  border-radius: $border-radius-rounded;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba($color-grey-subtle, .5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalMain {
  @extend %common-styles;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;

  @include respond-to(tablet) {
    height: auto;
    width: auto;
    max-width: 80%;
  }

  @include respond-to(desktop) {
    max-width: 60%;
  }

  @include respond-to(ultrawide) {
    max-width: 800px;
  }
  /*position:fixed;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);*/

}

.PanelMain {
  @extend %common-styles;
  @include respond-to(lgmobile){
    width: auto;
  }
}

.closeIcon {
  cursor: pointer;
  font-family: initial;
  font-style: unset;
  color: $color-grey-subtle;

  &::after {
    content: '+';
    transform: rotate(45deg);
    height: 20px;
    width: 20px;
    font-size: $font-xl;
    position: absolute;
    right: 0;
    top: 0;
  }
}
