// Font Family
$font-main: 'Open Sans', sans-serif;
$font-fjalla-one: 'Fjalla One', sans-serif;
$font-giant: 5.25rem;

// Palette
$color-main: #EB6E64;
$color-white: #FFF;
$green300: #32B88C;
$gray29: #4A4A4A;
$gray: #E8E7E7;
$black: #000;
$green500: #69D5B1;
