$font-main: 'Open Sans', sans-serif;
$font-alternative: 'Fjalla One', sans-serif;

$color-primary: #32B88C;
$color-secondary: #69D5B1;
$color-tertiary: #E6F5F0;

$color-white: white;
$color-grey-light: #E8E7E7;
$color-grey-medium: #4A4A4A;
$color-grey-dark: #1A1A1A;
$color-black: black;
