$font-main: 'Open Sans', sans-serif;
// Palette
$color-main: #EB6E64;
$color-white: #FFF;
// Font-sizes
$fz-xxs: 0.75rem; // 12px
$fz-xs: 0.875rem; // 14px
$fz-s: 1rem; // 16px
$fz-m: 1.125rem; // 18px
$fz-l: 1.5rem; // 24px
$fz-xl: 2rem; // 32px
$fz-xxl: 4.25rem; // 68px
$fz-giant: 4.25rem; // 84px
