// Font Family
$font-main: 'Open Sans', sans-serif;
$font-fjalla-one: 'Fjalla One', sans-serif;

// Palette
$color-main: #EB6E64;
$color-white: #FFF;
$green300: #32B88C;
$gray29: #4A4A4A;
$gray: #E8E7E7;
$black: #000;
$green500: #69D5B1;

// Font Sizes
$font-xxs: 0.75rem;     // 12px
$font-xs: 0.875rem;     // 14px
$font-s: 1rem;          // 16px
$font-m: 1.125rem;      // 18px
$font-l: 1.5rem;        // 24px
$font-xl: 2rem;         // 32px
$font-xxl: 4.25rem;     // 68px
$font-xxxl: 5.25rem;    // 84px

// font-weights 
// All weights are equivalent to google font weights
$font-weight-thin:100;
$font-weight-light:300;
$font-weight-regular:400;
$font-weight-medium:500;
$font-weight-bold:700;
$font-weight-black:900;

//margins
$margin-none:0;
$margin-tiny:0.5rem;
$margin-small:1rem;
$margin-large:2rem;
$margin-xlarge:4rem;