@import '~theme/base/variables';

$distance-height-variation-before: 20px;
$distance-height-variation-after: 40px;

// Sections with the text at the right
@mixin isReverseSection() {
    text-align: right;
    header {
        &:after {
            right: 0;
        }
    }
    
    @media screen and (min-width: 768px) {
        > div {
            flex-direction: row-reverse;    
        }
    }
}

// Sections with 
@mixin titleColor($color) {
    h1 {
        color: $color;
    }
}

.home {

    > section:nth-child(1) {
        background-color: $color-white;
        @include titleColor($color-primary);
        @include isReverseSection();
        
    }

    > section:nth-child(2) {
        background-color: $color-tertiary;

        &:before,
        &:after {
            content: "";
            background: $color-tertiary;
            width: 100%;
            position: absolute;
            left: 0;
        }

        &:before {
            height: $distance-height-variation-before;
            top: -$distance-height-variation-before;
            background: linear-gradient(to top right, $color-tertiary, $color-tertiary 50%, white 50%, white);
        }

        &:after {
            height: $distance-height-variation-after;
            bottom: -$distance-height-variation-after;
            background: linear-gradient(to bottom left, $color-tertiary, $color-tertiary 50%, white 50%, white);
        }
    }
}