@import '~theme/base/variables';
@import '~theme/base/utils';

$distance-height-variation-before: 20px;
$distance-height-variation-after: 40px;

// Sections with the text at the right
@mixin isReverseSection() {
    text-align: right;

    header {
        &:after {
            right: 0;
        }
    }
    
    @media screen and (min-width: 768px) {
        > div {
            flex-direction: row-reverse;    
        }
    }
}

.hero {
    position: relative;
    min-height: 100vh;
    padding-top: 6rem;
    padding-bottom: 3rem;

    @media screen and (min-width: 768px) {
        min-height: 550px;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('assets/main-header-background.png') no-repeat;
        background-position: bottom;
        background-size: cover;
        height: 100%;
        width: 100%;
        z-index: -1; 
    }

    h1 {
        font-family: $font-secondary;
        font-size: $font-xxxl;
        font-weight: $font-bold;
        letter-spacing: 0.05em;
        color: $color-white;
        text-transform: uppercase;
        line-height: 1.125;
        margin: 0 0 1.25rem 0;


        &:nth-child(2) {
            margin-top: 0px;
        }
    }

    h2 {
        margin: 0;
        font-family: $font-primary;
        font-size: $font-l;
        font-weight: $font-thin;
        color: $color-white;
        margin-bottom: 1.5rem;
    }
}

.heroInner {
    @include generalAlignment();
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heroImage {
    display: none;
    width: 400px;

    @media screen and (min-width: 767px) {
        display: block;
    }
}

.callToAction {
    text-decoration: none;
    border-radius: 3px;
    padding: 10px 30px;
    font-family: $font-primary;
    font-size: 1rem;
    border: 0px;
    text-transform: uppercase;
    color: $color-white;
    background-color: $color-primary;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);

    &:hover, &:focus {
        background-color: $color-primary-darker;
        transition: 0.25s ease all;
    }
}

.content {
    > section:nth-child(1) {
        background-color: $color-white;
        h1 {
            color: $color-secondary;
        }
        @include isReverseSection();
        
    }

    > section:nth-child(2) {
        background-color: $color-tertiary;

        &:before,
        &:after {
            content: "";
            background: $color-tertiary;
            width: 100%;
            position: absolute;
            left: 0;
        }

        &:before {
            height: $distance-height-variation-before;
            top: -$distance-height-variation-before;
            background: linear-gradient(to top right, $color-tertiary, $color-tertiary 50%, white 50%, white);
        }

        &:after {
            height: $distance-height-variation-after;
            bottom: -$distance-height-variation-after;
            background: linear-gradient(to bottom left, $color-tertiary, $color-tertiary 50%, white 50%, white);
        }
    }
}