.App {
  width: 100%;
  height: 100%;

  padding: 24px;

  &__hero {
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    padding: 24px;

    background: #f44336 url("../../images/mentor.jpg") bottom center / cover;
  }

  &__header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    color: $color-white;
    font-size: 5em;
    margin: 0;
    text-align: center;
  }

  &__tagline {
    color: $color-white;
    font-size: 2em;
    font-weight: 100;
    margin: 10px 0px;
    text-align: center;
  }
}
