@import '~theme/base/variables';
@import '~theme/base/mediaqueries';

.bgColor { background: rgba($color-black, .3); }

.innerModal {
    @include respond-to(tablet) {
        min-width: 400px;
        max-width: 80%;
        max-height: 90vh;
    }

    @include respond-to(desktop) {
        max-width: 60%;
    }

    @include respond-to(ultrawide) {
        max-width: 800px;
    }
}
