@import '~theme/base/variables';
@import '~theme/base/mediaqueries';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba($color-black, .3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerModal {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    overflow-y: auto;

    @include respond-to(tablet) {
        min-width: 400px;
        width: auto;
        max-width: 80%;
        height: auto;
    }

    @include respond-to(desktop) {
        max-width: 60%;
    }

    @include respond-to(ultrawide) {
        max-width: 800px;
    }
}

.closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    font-family: $font-primary;
    background: transparent;
    border: none;
    color: $color-grey-dark;
}