@import "~theme/base/variables";
@import '~theme/base/utils';

.navigationBar {
  padding: 1em 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  @media screen and (min-width: 768px) {
    padding: 1.25em 0;
  }
}

.inner {
  @include generalAlignment();
}

.navLinks {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-primary-darker;
  font-family: $font-primary;
  font-weight: $font-bold;
  font-size: $font-s;

  &:not(:last-child) {
    margin-right: 2em;
  }
}