@import "~theme/base/variables";
@import '~theme/base/utils';
@import '~theme/base/spacing';

.navigationBar {
  composes: PVM;
  background-color: $color-secondary;
}

.inner {
  @include generalAlignment();
}

.navLinks {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-primary-darker;
  font-family: $font-primary;
  font-weight: $font-bold;
  font-size: $font-s;

  &:not(:last-child) {
    margin-right: 2em;
  }
}
