@import '~theme/base/variables';
@import '~theme/base/mediaqueries';
@import '~theme/base/utils';

$first-flex-element-width: 50%;
$second-flex-element-width: 40%;

.section {
    padding: 100px 30px;
    position: relative;

    @media screen and (min-width: 768px) {
        padding: 100px 60px;
    }
}

.sectionInner {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (min-width: 768px) {
        @include generalAlignment();
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;

        > *:nth-child(1) {
            width: $first-flex-element-width;
        }

        > *:nth-child(2) {
            width: $second-flex-element-width;
        }
    }
}

.header {
    margin-bottom: 1.25rem;
    position: relative;

    &:after {
        content: '';
        background: $color-grey-light;
        bottom: 0;
        position: absolute;
        height: 1px;
        width: 200px;
    }
}

.title {
    color: $color-grey-dark;
    text-transform: uppercase;
    font-family: $font-alternative;
    font-size: 2.5rem;
    margin: 0;
    line-height: 1.25;
    text-transform: uppercase;
}

.description {
    color: $color-grey-dark;
    font-size: 14px;
    font-family: $font-main;
    line-height: 1.5;
    margin: 0;

    @media screen and (min-width: 1024px) {
        font-size: 16px;
    }
}