.sectionDirection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: 767px) {
        flex-direction: row;
        align-items: center;

        > * {
            max-width: 40%;
        }
    }
}

.hasLeftDirection {
    @media screen and (min-width: 767px) {
        flex-direction: row;
    }
}

.hasRightDirection {
    @media screen and (min-width: 767px) {
        flex-direction: row-reverse;
    }
}