@import '~theme/base/variables';


.section {
    background-color: transparent;
}

.hasPaddingHorizontal {
    padding-left: 30px; 
    padding-right: 30px;
}

.hasPaddingVertical {
    padding-top: 30px;
    padding-bottom: 30px;
}

// Colors Modifiers
.isTransparent {
    background-color: transparent;
}

.isWhite {
    background-color: $color-white;
}

.isGrey {
    background-color: $color-grey-light;
}

.isPrimary {
    background-color: $color-primary;
}

.isSecondary {
    background-color: $color-secondary;
}

.isTertiary {
    background-color: $color-tertiary;
}