@import '~theme/base/variables';

// Create an utils-class called for example .u-hasLayout
// So all the content inside that element that has this class will
// always be inside the grid we want to build
// Need to include mediaqueries
    // decide a grid max-width for resolutions.
    // Example:
    // mediaqueries(min-width: 767px)
    //   max-width: 700px
    //
    // mediaqueries(min-width: 1024px)
    //   max-width: 800px
    //
    // mediaqueries(min-width: 1200px)
    //   max-width: 900px
    //
    // mediaqueries(min-width: 1400px)
    //   max-width: 1200px

.section {
    background: red;
}

.section.section--paddingHorizontal {
    padding-left: 30px; // Need to ask about this. It will be a varaible
    padding-right: 30px;
    
}

.section.section--paddingVertical {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section.section--white {
    background-color: $color-white;
}
.section.section--grey {
    background-color: $color-grey;
}
.section.section--waterMain {
    background-color: $color-main-water;
}
