@import '~theme/base/variables';
@import '~theme/base/mediaqueries';

section.contact {
  display: flex;
  margin: $margin-xlarge;
  @include respond-to(landscape){
    flex-flow: column;
  }
}

.left_section {
  flex: 0 0 40%;
  img {
    width: 100%;
  }
}

.right_section {
  display: flex;
  flex-flow: column;
  margin-left: auto;
  h1 {
    width: 50%;
    margin-left: auto;
    text-align: right;
    font-size: $font-xxl;
    color: $green500;
    font-weight: $font-weight-thin;
    text-transform: uppercase;
    border-bottom: 1px solid $gray;
    font-family: $font-fjalla-one;
    margin-bottom: $margin-none;
    @include respond-to(landscape){
      width: auto;
      margin-left: initial;
      text-align: center;
    }
  }
  p {
    text-align: right;
    width: 60%;
    margin-left: auto;
    color: $gray29;
    @include respond-to(landscape){
      width: auto;
      text-align: center;
    }
  }
}

.email {
  text-decoration: none;
  color: $green500;
}

.slack_org {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid $black;
  transition: background 300ms, color 300ms;
  transition-timing-function: ease-out;
  cursor: pointer;
}
.slack_org:hover {
  background: $green500;
  color:$color-white;

}
