@import '~theme/base/variables';
@import '~theme/base/mediaqueries';
@import '~theme/base/utils';

.contact {
  display: flex;
  margin: 8rem 4rem 4rem;
  flex-flow: column;
  align-content: center;
  @include generalAlignment();
  @include respond-to(tablet) {
    flex-direction: row;
    align-items: center;
  }
}

.leftSection {
  flex: 0 0 40%;
  img {
    width: 100%;
  }
}

.rightSection {
  display: flex;
  flex-flow: column;
  margin-left: auto;

  @include respond-to(tablet) {
    width: 50%;
    align-items: flex-end;
  }

  h1, p {
    text-align: center;
  }

  h1 {
    font-size: $font-xxl;
    color: $color-secondary;
    font-weight: $font-thin;
    text-transform: uppercase;
    border-bottom: 1px solid $color-grey-light;
    font-family: $font-secondary;
    margin-bottom: 0;
    margin-left: initial;

    @include respond-to(tablet) {
      margin-top: 0;
      width: 70%;
      text-align: right;
    }
  }

  p {
    margin-left: auto;
    color: $color-grey-medium;

    @include respond-to(tablet) {
      text-align: right;
    }
  }
}

.email {
  text-decoration: none;
  color: $color-secondary;
}

.slackOrg {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid $color-black;
  transition: background 0.15s ease-out, color 0.15s ease-out;
  cursor: pointer;

  &:hover {
    background: $color-secondary;
    color:$color-white;
  }
}
