@import '~theme/base/variables';
@import '~theme/base/mediaqueries';

.social_media {
  display: flex;
  margin-top: 20px;
  flex-flow: row-reverse;
  @include respond-to(landscape){
    align-self: center;
  }
}

.icon_wrapper {
  margin: 10px;
  padding: 15px;
  border: 1px solid rgba($green500, 0.6);
  border-radius: 50%;
  cursor: pointer;
}
.icon_wrapper:hover{
  animation: social-icon-highlight 400ms ease-out forwards;
  .green_icons {
    animation:  social-icon-highlight-inverse 400ms ease-out forwards;
  }
}
.green_icons {
  color: $green500;
}


/*
 Put animations specific to Component here.
*/

@keyframes social-icon-highlight {
  0% {
    background: $color-white
  }
  100% {
    background: $green500;
  }
}

@keyframes social-icon-highlight-inverse {
  0% {
    color: $green500;
  }
  100% {
    color: $color-white

  }
}