@import '~theme/base/variables';
@import '~theme/base/mediaqueries';

.social_media {
  display: flex;
  margin-top: 20px;
  flex-flow: row-reverse;
  @include respond-to(landscape){
    align-self: center;
  }
}

.icon_wrapper {
  margin: 10px;
  padding: 15px;
  border: 1px solid rgba($green500, 0.6);
  border-radius: 50%;
  cursor: pointer;
  transition: background 400ms;
  transition-timing-function: ease-out;
}
.icon_wrapper:hover{
  background: $green500;

  .green_icons {
    color: $color-white;
  }

}
.green_icons {
  color: $green500;
  transition: color 400ms;
  transition-timing-function: ease-out;
}