@import '~theme/base/variables';

.social_media {
  display: flex;
  margin-top: 20px;
  flex-flow: row-reverse;
}

.icon_wrapper {
  margin: 10px;
  padding: 15px;
  border: 2px solid $color-light-green;
  border-radius: 50%;
}

.green_icons {
  color: $color-light-green;
}
