@import '~theme/base/variables';
@import '~theme/base/mediaqueries';
@import '~theme/base/utils';

.footerMain {
  width: 100%;
}

.footerInner {
  padding: 1.5em;
  border-top: 1px solid $color-grey-medium;
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  width: 90%;
  @include generalAlignment();
}

.footerLink {
  display: inline-block;
  padding: 0.5em;
  font-size: $font-xxs;
  color: $color-grey-medium;
  text-decoration: none;
  &:hover {
    color:$color-grey-dark;
  }
}




// @include respond-to(tablet){
//   flex-flow: initial;
//   text-align: left;
//   align-items: flex-end;
// };
