@import '~theme/base/variables';
@import '~theme/base/mediaqueries';
@import '~theme/base/utils';

.footerMain {
  width: 100%;
}

.footerInner {
  padding: 1em 0;
  border-top: 1px solid $color-grey-medium;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  margin-left: 30px;
  margin-right: 30px;
  @include respond-to(mobile){
    flex-flow: column;
    text-align: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
  };
}

.footerLink {
  display: inline-block;
  padding: 10px;
  font-size: $font-xxs;
  color: $color-grey-medium;
  text-decoration: none;
  &:hover {
    color:$color-grey-dark;
  }
}
