@import '~theme/base/variables';
@import '~theme/base/mediaqueries';
@import '~theme/base/utils';
.root {
   display: flex;
   flex-direction: column;
}
.inputStyle {
    background: $color-white;
    height: 50px;
    color: $color-grey-medium;
    width: 400px;
    border: 4px Solid $color-grey-light;
    border-radius: $border-radius-rounded;
    padding-left: 5px;
}

.labelStyle {
    color: $color-grey-medium;
    padding-bottom: 10px;
    font-family: $font-primary;
    font-weight: $font-medium;
    font-size: $font-m;

}

.inputStyleFocus {
    background: $color-white;
    height: 50px;
    color: $color-green-dark;
    width: 400px;
    border: 4px Solid $color-green-dark;
    border-radius: $border-radius-rounded;
    padding-left: 5px;
}

.labelStyleFocus {
    color: $color-green-dark;
    padding-bottom: 10px;
    font-family: $font-primary;
    font-weight: $font-medium;
    font-size: $font-m;

}

.inputStyleError {
    background: $color-white;
    height: 50px;
    color: $color-red-dark;
    width: 400px;
    border: 4px Solid $color-red-dark;
    border-radius: $border-radius-rounded;
    padding-left: 5px;
}

.labelStyleError {
    color: $color-red-dark;
    padding-bottom: 10px;
    font-family: $font-primary;
    font-weight: $font-medium;
    font-size: $font-m;

}
.textAreaStyle {
    background: $color-white;
    height: 200px;
    color: $color-grey-medium;
    width: 400px;
    border: 4px Solid $color-grey-light;
    border-radius: $border-radius-rounded;
    padding-left: 5px;
}
