@import '~theme/base/variables';

.app {
  width: 100%;
  height: 100%;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  min-width: 900px;
}

.header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: $color-white;
  font-size: 5em;
  margin: 0;
  text-align: center;
}

.tagline {
  color: $color-white;
  font-size: 2em;
  font-weight: 100;
  margin: 10px 0px;
  text-align: center;
}
