@import "~theme/base/variables";
@import '~theme/base/utils';

.homeContainer {
  height: 100%;
}

.mainHeaderBackground {
  background: url('./main-header-background.png') no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
  position: absolute;
  z-index: index(background);
}

.mainHeaderContent {
  display: flex;
  margin-left: 4em;
}

.mainHeaderContent > div {
  flex: 1;
}

.mainHeaderContent {
  & .header {
    font-family: $font-header;
    font-size: $font-xxl;
    color: $color-white;

    // Break words in multiple lines
    width: min-intrinsic;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }

  h4 {
    font-family: $font-primary;
    font-size: $font-l;
    font-weight: 300;
    color: $color-white;
  }

}

.learnMore {
  border-radius: 3px;
  padding: 10px 30px;
  font-family: $font-primary;
  font-size: 1rem;
  border: 0px;
  text-transform: uppercase;
  color: $color-white;
  background-color: $green300;
  cursor: pointer;
}
